extends layout

block content
    h1= 'Todo'
    p Welcome to the #{subtitle}
    section
        each todo in Object.values(todos)
            div('style'="display: flex; padding: 10px; border-bottom: 1px solid;")
                form('action'="/todo/" + todo._id, 'method'="PATCH", 'style'="display: flex; padding: 10px;")
                    div('style'="margin: 0 15px 0 0")
                        input('type'="checkbox", name="status", checked=todo.status)
                    div('style'="margin: 0 15px 0 0")
                        input('type'="text", name="description", value=todo.description)
                    div
                        button('type'="submit") Submit
                form('action'="/todo/" + todo._id, 'method'="DELETE", 'style'="display: flex; padding: 10px;")
                    div
                        button('type'="submit") Delete

